<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Edit Task</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Edit Task</h1>
      <form method="post">
          {% csrf_token %}
        <div class="form-group">
          <label for="task-name">Title</label>
          <input style="margin-bottom: 20px;" type="text" name="title" id="task-name" value="{{ task.title }}" placeholder="Enter task name..." required>
          <label for="task-details">Details</label>
          <input type="text" name="details" id="task-details" value="{{ task.details }}" placeholder="Enter task details...">
        <div class="form-group">        </div>

          <label for="status">Status</label>
          <select id="status" name="status">
              {% for status in statuses %}
                  <option {% if task.status == status %} selected {% endif %}>{{ status }}</option>
              {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn">Save</button>
        <a href="{% url 'home' %}" class="btn cancel" style="text-decoration: none;">Cancel</a>
      </form>
    </div>
  </body>
</html> 