<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="container">
        <div class="head">
            <h1>To-Do List</h1>
            <div style="display: flex; align-items: center;">
                <h3>
                    <a href="{% url 'my-account' %}" style="color: darkslategrey">
                        {% if request.user.get_full_name != "" %}
                            {{ request.user.get_full_name }}
                        {% else %}
                            {{ request.user.username }}
                        {% endif %}
                    </a>
                </h3>
                <a href="{% url 'logout' %}" style="text-decoration: none; color: red;">
                Log out
                </a>
            </div>
      </div>

      <div class="task-add">
        <form id="task-form" method="post">
            {% csrf_token %}
            <div class="form1">
              <input type="text" name="title" placeholder="Title..." required>
              <input type="date" name="deadline">
              <select name="status">
                  {% for status in statuses %}
                      <option class="opt" value="{{ status }}">
                          {{ status }}
                      </option>
                  {% endfor %}
              </select>
            </div>
            <div class="form1">
              <input type="text" name="details" placeholder="Details ...">
              <button type="submit" class="btn">Add Task</button>
            </div>
          </form>
      </div>
      <hr style="margin: 10px 5px;">
        {% for task in tasks %}
            <div class="task">
        <ul id="task-list">
          <li>
              <div>
                  {{ task.title }}
              </div>
              <div>
                    <input type="text" value="{{ task.status }}" readonly >
                    {% if task.deadline %}
                        <input type="date" value="{{ task.deadline|date:'Y-m-d' }}" readonly>
                    {% endif %}
                    <button type="submit" class="edit"><a href="{% url 'task-update' task.id %}">Edit</a></button>
                    <form method="POST" action="{% url 'delete-task' task.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete">Delete</button>
                    </form>
              </div>
          </li>
        </ul>
        {% if task.details %}
            <ul class="details">
                {{ task.details }}
            </ul>
        {% endif %}
      </div>
        {% endfor %}
    </div>
  </body>
</html>