<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="container">
        <div class="head">
            <h1>To-Do List</h1>
            <div style="display: flex; align-items: center;">
                <h3>User</h3>
                <a href="./login.html" style="text-decoration: none; color: red;">
                Log out
                </a>
            </div>
      </div>

      <div class="task-add">
        <form id="task-form" method="post">
            {% csrf_token %}
            <div class="form1">
              <input type="text" name="title" placeholder="Title..." required>
              <input type="date" name="deadline">
              <select name="status">
                  {% for status in statuses%}
                      <option class="opt" value="{{ status }}">
                          {{ status }}
                      </option>
                  {% endfor %}
              </select>
            </div>
            <div class="form1">
              <input type="text" name="details" placeholder="Details ...">
              <button type="submit" class="btn">Add Task</button>
            </div>
          </form>
      </div>
      <hr style="margin: 10px 5px;">

      {% for t in task %}
      <div class="task">
        <ul id="task-list">
          <li>
              <div>
                  {{ t.title }}
              </div>
              <div>
                    <input type="text" value="{{ t.status }}" readonly >
                    <input type="date" value="{{ t.deadline|date:'d.m.Y' }}" readonly >
                    <button type="submit" class="edit"><a href="./edit.html">Edit</a></button>
                    <button type="submit" class="delete"><a href="./edit.html">Delete</a></button>
              </div>
          </li>
        </ul>
        <ul class="details">
            {{ t.details }}
        </ul>
      </div>
      {% endfor %}
    </div>
  </body>
</html>